@import 'colors'
@import 'fonts'
@import 'media-queries'
@import 'header'
@import 'main'
@import 'keyframes'
@import 'blog'
@import 'arabic'

$space-sm: 16rem
$stack-cards-gap: 3rem

:root
    --space-sm: #{$space-sm}
    --stack-cards-gap: #{$stack-cards-gap}

*
    position: relative

body
    font-family: 'Manrope', sans-serif
    list-height: 1.5
    // @apply text-base lg:text-xl

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
    -webkit-background-clip: text
    -webkit-text-fill-color: #ffffff
    transition: background-color 5000s ease-in-out 0s
    box-shadow: inset 0 0 20px 20px #23232329

input:-webkit-autofill,
textarea:-webkit-autofill
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important
    -webkit-text-fill-color: #000000 !important

.mp-button
    &-primary
        @apply flex justify-center items-center gap-2 text-base font-bold w-max cursor-pointer bg-primary text-black py-3.5 px-6 rounded-lg transition duration-200 ease-in-out

        &:hover
            @apply bg-secondary

    &-secondary
        @apply flex justify-center items-center gap-2 text-base font-bold w-max cursor-pointer bg-secondary text-black py-3.5 px-6 rounded-lg transition duration-200 ease-in-out

        &:hover
            @apply bg-primary

    &-tertiary
        @apply flex justify-center items-center gap-2 text-base font-bold w-max cursor-pointer bg-quaternary text-primary py-3.5 px-16 rounded-lg transition duration-200 ease-in-out

        &:hover
            @apply bg-secondary

    &-quaternary
        background: linear-gradient(89.6deg, #003383 5.21%, #00DFDF 134.35%)
        @apply text-white rounded-lg px-5 py-3 text-center

label
    @apply text-sm font-medium

h1, h2, h3, h4, h5, h6
    line-height: normal !important

header h5, header a, footer h5, footer a, footer li
    @apply text-base leading-normal

h1
    @apply text-4xl lg:text-[40px] font-bold

h2
    @apply text-2xl lg:text-[40px] font-bold

h3
    @apply text-3xl lg:text-[50px] font-light

h4
    @apply text-xl lg:text-[40px] font-light

h5
    @apply font-extrabold

h6
    @apply font-normal

p
    @apply text-pretty

.border.rounded-lg
    transition: border-color 0.3s ease-in-out

.border.rounded-lg:hover
    @apply border-[#2670E9]

.separator
    @apply bg-[#d9d9d9] h-[1px] w-full lg:my-16 max-lg:my-10

.grecaptcha-badge
    display: none