header
    a, span
        font-weight: 700
    a, span, svg
        transition: color 0.2s ease-in-out

.dark-header header
    ul:nth-child(1)
        a, h5
            color: #FFFFFF
    ul:nth-child(2)
        a, h5
            color: #000000
    path
        fill: #FFFFFF
